<h2 id="title">Welcome to Ember</h2>

<p>
{{outlet}}
</p>

<br />
{{#link-to 'ember-app'}}Home{{/link-to}}
<br />
{{#link-to 'pizza'}}Pizza{{/link-to}}
<br />
{{#link-to 'cats'}}Cats{{/link-to}}
<br />
<a href='/'>Go to the Rails app.</a>
